<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>348212388926-orbf7mc01l22ta5uh4s4r9g81brl4mmf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.348212388926-orbf7mc01l22ta5uh4s4r9g81brl4mmf</string>
	<key>API_KEY</key>
	<string>AIzaSyBrc-QOgoLVuEn9IxvhmvHlS9AsrfKTtK0</string>
	<key>GCM_SENDER_ID</key>
	<string>348212388926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>r.Task-app</string>
	<key>PROJECT_ID</key>
	<string>taskapp-2d817</string>
	<key>STORAGE_BUCKET</key>
	<string>taskapp-2d817.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348212388926:ios:ea2d4f1b6813c11b5b5d6f</string>
	<key>DATABASE_URL</key>
	<string>https://taskapp-2d817-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>